    * {
        margin: 0;
        padding: 0;
      }

      html {
        width: 100%;
        height: 100%;
      }

      body {
        overflow: hidden;
        font-family: 'Source Serif 4', serif;
        width: inherit;
        height: inherit;
        background-image: url("/společné/globe.png");
        background-position: center;
        background-size: 50%;
      }

      section {
        background: rgba(235, 255, 255, 0.9); /*pozn. tmavý režim rgba(30,30,30,0.9) */
        height: inherit;
      }

      figure {
        position: relative;
        top: 50%;
        transform: translateY(-60%);
        display: flex;
      }

      figure > div > i {
        display: block;
        text-align: center;
      }

    /* From Uiverse.io by portseif */ 
      button {
        background-color: #ffffff;
        border: 1px solid rgb(209, 213, 219);
        border-radius: 0.5rem;
        color: #111827;
        font-size: 0.875rem;
        font-weight: 600;
        line-height: 1.25rem;
        padding: 0.75rem 1rem;
        text-align: center;
        -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
        cursor: pointer;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-user-select: none;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        position: absolute;
        top: 20px;
        right: 20px;
        display: flex;
        gap: 2px;
      }

      button:hover {
        background-color: #f9fafb;
      }

      button:focus {
        outline: 2px solid rgba(0, 0, 0, 0.1);
        outline-offset: 2px;
      }

      button:focus-visible {
        -webkit-box-shadow: none;
        box-shadow: none;
      }

      button > svg {
        position: relative;
        top: -1px;
      }

      #sudety {
        position: absolute;
        left: 0;
        display: none;
      }

      #sudety-prepinac {
        position: absolute;
        top: 83px;
        right: 20px;
      }

      select#vyber {
        position: absolute;
        left: 8px;
        bottom: 20px;
      }

      select#rozsah {
        position: absolute;
        left: 8px;
        bottom: 40px;
      }