html {
    height: 100vh;
    width: 100vw;
}

body {
    height: inherit;
    width: inherit;
    background-image: url('/grid.svg');
    background-attachment: fixed;
    background-size: auto;
    background-repeat: repeat;
    transition: all 0.15s;
}

:root[data-theme="dark"] {
    body {
        background-color: #07071e !important;
    }

    main {
        color: white;
        background: rgb(0 0 0 / 57%);
    }
}

:root[data-theme="light"] {
    body {
        background-color: rgb(255, 255, 255) !important;
    }

    main {
        color: black;
        background: rgba(229, 229, 229, 0.49);
    }
}

nav {
    z-index: 2 !important;
}