html {
    height: 100vh;
    width: 100vw;
}

body {
    height: inherit;
    width: inherit;
    background-image: url('/grid.svg');
    background-attachment: fixed;
    background-size: auto;
    background-repeat: repeat;
    transition: all 0.15s;
}

:root[data-theme="dark"] {
    body {
        background-color: #07071e !important;
    }

    main {
        color: white;
        background: rgb(0 0 0 / 57%);
    }
}

:root[data-theme="light"] {
    body {
        background-color: rgb(255, 255, 255) !important;
    }

    main {
        color: black;
        background: rgba(229, 229, 229, 0.49);
    }
}

nav {
    z-index: 2 !important;
}

main {
    width: inherit;
    height: inherit;
    display: flex;
    position: relative;
    z-index: 0;
    background-attachment: fixed;
    position: fixed;
}

#faze0 {
    text-align: center;
}

#faze0 form {
    margin-top: 20px;
}

/* Skrytí všech sekcí kromě první */
#volby section:not(:first-child) {
    display: none;
}

section {
    margin: auto;
}

select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

*:disabled {
    cursor: not-allowed !important;
}

label {
    margin-left: 8px;
}

#alerty {
    position: fixed;
    max-width: 630px;
    left: 20px;
    top: 20px;
    width: calc(100% - 40px);
    z-index: 2;
}

#alerty > div > span, #alerty > div > button span {
    color: #212529;
}

.seznam {
    padding-left: 0;
    margin: auto;
    width: fit-content;
}

#faze4 > i, #faze3 h2 i {
    cursor: pointer;
    left: -65px;
    position: absolute;
}

.close {
    background: transparent;
    color: gray;
    border: none !important;
    position: absolute;
    right: 8px;
    top: 5px;
    margin: 0;
    padding: 0;
    font-size: 20px;
    line-height: 1;
}

#zkratkak30, #zkratkak8 {
    margin-bottom: 10px;
}

:root[data-theme="dark"] {
    h1 {
        color: yellow; text-shadow: 0 0 20px yellow;
    }

    select option {
        background-color: #212529;
        color: white;
    }

    button {
        border: solid white !important;
        pointer-events: auto !important;
        color: white !important;
    }

    button:hover:not(button:disabled,.close), #pagination div button:focus:not(button:disabled,.close) {
        background: white !important;
        color: #212529 !important;
    }

    #pagination button.dopredu:hover:not(button:disabled,.close) i, #pagination button.dozadu:hover:not(button:disabled,.close) i {
        color: #212529 !important;
        background: transparent;
    }
}

:root[data-theme="light"] {
    h1 {
        color: black;
    }

    select option {
        background-color: white;
    }

    button {
        border: solid #212529 !important;
        pointer-events: auto !important;
        color: #212529 !important;
    }

    button:hover:not(button:disabled,.close), #pagination div button:focus:not(button:disabled,.close) {
        background: #212529 !important;
        color: white !important;
    }

    #pagination button.dopredu:hover:not(button:disabled,.close) i, #pagination button.dozadu:hover:not(button:disabled,.close) i {
        color: white !important;
        background: transparent;
    }
}

.show {
  transition: all 400ms;
}
.hide {
  opacity: 0;
}