@import url("/společné/chyby/chyba.css");

section {
    color: light-dark(white, rgb(1 255 2));
    background: light-dark(rgba(240 240 240 / 80%), rgb(36 30 32 / 80%));
}

p {
    font-family: 'Source Serif 4', serif;
    color: light-dark(rgb(0, 0, 0), rgb(1 255 2));
}

a {
    width: 200px;
    margin: auto;
    font-family: "Cossette Texte", sans-serif;
    text-decoration: none;
    padding: 5px 0;
    background: white;
    border: solid black 3px;
    color: black;
    border-radius: 7px;
}