@import url("https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css");

.logo_name {
    position: absolute;
    left: 50px;
    top: 50%;
    transform: translateY(-50%);
}

#aktualni-volby i {
    filter: invert(1);
    background-repeat: no-repeat;
}

#aktualni-volby:hover i {
    filter: invert(0);
    background-repeat: no-repeat;
}

#csu i {
    filter: grayscale(1) contrast(2) invert(1);
}

#csu:hover i {
    filter: grayscale(1) contrast(2) invert(0);
}

.sidebar {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    width: 0;
    transition: all 0.5s ease;
    overflow-x: hidden;
}

.sidebar1 {
    width: 270px !important;
}

.sidebar2 {
    padding-top: 6px;
    padding-bottom: 6px;
    margin-left: 20px;
}

.sidebar.open {
    width: 250px;
    padding: 6px 14px;
}

.sidebar .logo-details {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    border-radius: 40px;
    background: rgba(240,240,255,0.5);
    border: solid 1px rgb(220,220,220);
}

.sidebar .logo-details .logo_name {
    color: #000000;
    font-size: 20px;
    font-weight: 600;
    opacity: 0;
    transition: all 0.5s ease;
}

.sidebar.open .logo-details, .sidebar.open .logo-details .logo_name {
    opacity: 1;
}

.sidebar .logo-details #btn {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 22px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s ease;
    color: black;
}

.sidebar.open .logo-details #btn {
    text-align: center;
}

.sidebar i {
    color: #fff;
    height: 60px;
    min-width: 50px;
    font-size: 28px;
    text-align: center;
    line-height: 60px;
}

.sidebar .nav-list {
    margin-top: 20px;
}

.sidebar li {
    position: relative;
    margin: 8px 0;
    list-style: none;
}

.sidebar li i {
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    border-radius: 12px;
}

.sidebar li a {
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 12px;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    background: #11101D;
}

.sidebar li a:hover {
    background: #fff;
}

.sidebar li a .links_name {
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: 0.4s;
}

.sidebar.open li a .links_name {
    opacity: 1;
    pointer-events: auto;
}

.sidebar li a:hover .links_name, .sidebar li a:hover i {
    transition: all 0.5s ease;
    color: #11101D;
}

@media screen and (height <= calc(382px + 72px /*součet výšky menu (včetně odsazení) a výšky hlavního tlačítka (včetně odsazení)*/)) {
    .sidebar2 {
        height: calc(100svh - 72px);
        overflow-y: scroll;
    }
}