<div
  class="overflow-hidden rounded-2xl border border-gray-200 bg-white px-5 pt-5 dark:border-gray-800 dark:bg-white/[0.03] sm:px-6 sm:pt-6"
>
  <div class="flex items-center justify-between">
    <h3 class="text-lg font-semibold text-gray-800 dark:text-white/90">
      Graf volebních výsledků (zobrazeny strany s více než 1 % hlasů)
    </h3>

    <div x-data="{openDropDown: false}" class="relative h-fit">
      <button
        @click="openDropDown = !openDropDown"
        :class="openDropDown ? 'text-gray-700 dark:text-white' : 'text-gray-400 hover:text-gray-700 dark:hover:text-white'"
      >
        <svg
          class="fill-current"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M10.2441 6C10.2441 5.0335 11.0276 4.25 11.9941 4.25H12.0041C12.9706 4.25 13.7541 5.0335 13.7541 6C13.7541 6.9665 12.9706 7.75 12.0041 7.75H11.9941C11.0276 7.75 10.2441 6.9665 10.2441 6ZM10.2441 18C10.2441 17.0335 11.0276 16.25 11.9941 16.25H12.0041C12.9706 16.25 13.7541 17.0335 13.7541 18C13.7541 18.9665 12.9706 19.75 12.0041 19.75H11.9941C11.0276 19.75 10.2441 18.9665 10.2441 18ZM11.9941 10.25C11.0276 10.25 10.2441 11.0335 10.2441 12C10.2441 12.9665 11.0276 13.75 11.9941 13.75H12.0041C12.9706 13.75 13.7541 12.9665 13.7541 12C13.7541 11.0335 12.9706 10.25 12.0041 10.25H11.9941Z"
            fill=""
          />
        </svg>
      </button>
      <div
        x-show="openDropDown"
        @click.outside="openDropDown = false"
        class="absolute right-0 z-40 w-40 p-2 space-y-1 bg-white border border-gray-200 top-full rounded-2xl shadow-theme-lg dark:border-gray-800 dark:bg-gray-dark"
      >
        <button
          class="flex w-full px-3 py-2 font-medium text-left text-gray-500 rounded-lg text-theme-xs hover:bg-gray-100 hover:text-gray-700 dark:text-gray-400 dark:hover:bg-white/5 dark:hover:text-gray-300"
        >
          View More
        </button>
        <button
          class="flex w-full px-3 py-2 font-medium text-left text-gray-500 rounded-lg text-theme-xs hover:bg-gray-100 hover:text-gray-700 dark:text-gray-400 dark:hover:bg-white/5 dark:hover:text-gray-300"
        >
          Delete
        </button>
      </div>
    </div>
  </div>

  <div class="max-w-full overflow-x-auto custom-scrollbar">
    <div class="min-w-[650px] pl-2 xl:min-w-full">
      <div
        id="chartOne"
        class="h-full min-w-[650px] pl-2 xl:min-w-full"
      ></div>
    </div>
  </div>
</div>
<script type="module">
async function nactenivysledku(url) {
  try {
    return await d3.json(url)
  } catch(err) {
    console.error("Chyba při načítání dat:", err)
    document.getElementById("chartOne").innerHTML = "<p>Chyba při načítání dat. Soubor pravděpodobně neexistuje.</p>";
  }
}

  const data = await nactenivysledku("./vysledky_cr.json")
  window.filtrovanadata = data.filter(function(el) {if(el["proc_hlasu"] > 1) {return el}})
  filtrovanadata = filtrovanadata.slice(0,10) // prvních deset položek má přiřazené barvy

  window.strop = d3.max(data, (d) => {return d.proc_hlasu})

  if((strop % 10) < 5) {strop = ((Math.round(strop / 10))*10 + 5)}
  else if((strop % 10) > 5) {strop = (Math.round(strop / 10))*10}

  var graf = Plot.plot({// pokud má více koalic stejnou zkratku, sloupečky se zobrazí nad sebou
  x: {label: "volební subjekty"},
  y: {percent: false, label: "procenta", grid: true},
  marks: [
    Plot.barY(
      filtrovanadata, {
        x: "<% if(info['druh'] == 'prezidentské') {%>kandidat<%} else {%>zkratka<%} %>", //u prezidentských voleb kandidat
        y: "proc_hlasu",
        fill: "color",
        text: "test",
        sort: {x: "-y"},
        title: function (d) {var cislo = `${Math.round(d.proc_hlasu*100)/100} %`; return cislo.replace(".", ",")},
        tip: true
      }
    ),
    Plot.ruleY([0], {stroke: "black"}),
    Plot.ruleY([strop], {stroke: ""})
  ]
})

document.getElementById("chartOne").append(graf)
</script>