html {
    height: 100%;
}

body {
    height: inherit;
    background: url('/společné/ikony/invalid-vote.png');
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
}

section {
    display: grid;
    height: inherit;
    align-content: center;
    text-align: center;
    background: light-dark(rgb(126 126 126 / 50%), rgb(0 0 0 / 49%))
}

h1 {
    font-size: 5em;
    margin-top: 0;
    font-family: "Cossette Texte", sans-serif;
    font-weight: 700;
    color: #01ff02;
    text-shadow: 7px 6px rgb(36 30 32);
}