html {
    height: 100%;
}

body {
    height: inherit;
    background: url('/společné/ikony/invalid-vote.png');
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
}

section {
    display: grid;
    height: inherit;
    align-content: center;
    text-align: center;
}

h1 {
    font-size: 5em;
    margin-top: 0;
    font-family: "Cossette Texte", sans-serif;
    font-weight: 700;
    -webkit-text-stroke-color: light-dark(black, transparent);
    -webkit-text-stroke-width: 3px;
}